@model projet_dot_net.Model.Years

@{
    ViewBag.Title = "Details";
}

<header class="jumbotron-fluid">
    <br />
    <br />
    <br />
    <br />
    <h2 class="text-center text-primary">Détails de l'année</h2>
</header>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">@Html.DisplayNameFor(model => model.Year) : @Html.DisplayFor(model => model.Year)</div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Retour à la liste", "Index") 
    </p>
</div>
